		<!-- Make sure all your bars are the first things in your <body> -->
		<header class="bar-title">
			<h1 class="title">Mega Igreja</h1>
		</header>
		
	  <!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
	  <div class="content">
		<ul id="listaDeMensagens" class="list">
		  <li ng-repeat="mensagem in mensagens" ng-animate=" 'animate' ">
			<a ng-click="go('/mensagem/' + mensagem.id)" data-transition="slide-in" style = "cursor:pointer">
			  <img ng-src="{{ getAutor(mensagem).avatarURL }}"> 
			  <h2>{{ mensagem.titulo }} </h2>
			  <h5>{{ getAutor(mensagem).nome }}</h5>
			   <p> <span class="count-main">2</span>Acessos<p>
			  <span class="chevron"></span>
			</a>
		  </li>
		</ul>
	  </div>
