		<!-- Make sure all your bars are the first things in your <body> -->
		<header class="bar-title">
			<h1 class="title">Mega Igreja</h1>
		</header>
		
	  <!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
	  <div class="content">
		<ul id="listaDeMensagens" class="list">
		  <li>
			<a href="#">
			  <img src="img/eugene_lee.jpg"> 
			  <h2>List item 1 List item 1List item 1List item 1 item 1List item 1item 1List item 1item 1List item 1</h2>
			  <h5>Pr. Valmir</h5>
			   <p> <span class="count-main">2</span>Acessos<p>
			  <span class="chevron"></span>
			</a>
		  </li>
		  <li>
			<a href="#">
			  List item 2
			  <span class="chevron"></span>
			</a>
		  </li>
		  <li>
			<a href="#">
			  List item 3
			  <span class="chevron"></span>
			</a>
		  </li>
		</ul>
	  </div>
